// Imports
//@import "compass";
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/layout";

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
a {
  color: $txt-link-dark;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
}
a:hover, a:focus {
  // color: $accent-color-hover;
  text-decoration: none;
}
body {
  background-color: $bg-light;
  font-family: $sans-serif;
  font-weight: $light;
  color: $txt-dark;
  -webkit-text-size-adjust: 100%;
  //fix for iOS
}
*:focus {
  outline: none !important;
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
section .header {
  padding-bottom: 30px;
}
.section-padding {
  padding: $section-padding;
}
.section-border {
  border-bottom: 1px solid $txt-light-hover;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px;
}

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer
}
.nav-toggle:focus {
  outline: none
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer
}
.nav-toggle span:before {
  top: -10px
}
.nav-toggle span:after {
  bottom: -10px
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out
}
.nav-toggle.active span {
  background-color: transparent
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0
}
.nav-toggle.active span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.nav-toggle.active span:after {
  top: 10px;
  -moz-transform: translatey(-10px) rotate(-45deg);
  -ms-transform: translatey(-10px) rotate(-45deg);
  -o-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg)
}
.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url('../img/hero-min.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  /*.rsvp-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
  }*/
  .down-arrow a {
    color: $txt-light;
  }
  h1 {
    color: $txt-light;
    margin-bottom: 40px;
    font-weight: 600;
  }
  p.intro {
    color: $txt-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  .hero-content {
    padding-top: 40%;
  }
  .hero-content img {
    width: 55%;
    margin-bottom: 12%;
  }
}
.navigation {
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: $bg-dark;
}
.fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
}
header {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  transition: padding 300ms ease-in-out;

  a {
    text-transform: uppercase;
    font-size: $nav-font-size;
    color: $txt-light;

    &.login {
      margin-right: 20px;
    }
    &:hover {
      color: $txt-light-hover;
      border-color: $txt-light-hover;
    }
  }
  .logo {
    display: inline-block;
  }
  .logo img {
    height: 19px;
  }
  ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;

    li {
      display: inline;

      a {
        padding-right: 25px;
      }
      &:last-child a {
        padding-right: 0px;
      }
    }
  }

  ul.member-actions {
    li {
      display: inline;
    }
  }
  .header-nav {
    display: inline-block;
  }
  .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    transition: all 300ms ease-in-out;
  }
}
.down-arrow {
  color: $txt-light;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* ==========================================================================
Intro
========================================================================== */
.intro-content {
  display: inline-block;
  width: 80%;
}

#intro {
  padding-top: 40px;
  img {
    width: 100%;
    height: auto;
  }
}
#intro p {
  text-align: center;
}

/* ==========================================================================
.events
========================================================================== */
.events {
  .leftcol {
    padding-right: 100px;
    border-right: solid 1px $keyline-color;
  }
  .rightcol {
    padding-left: 100px;
  }

  .time {
    font-size: 13px;
    font-style: italic;
    text-transform: lowercase;
    color: $txt-dark;
  }
}

/* ==========================================================================
Instagram
========================================================================== */
#instagram {
  img {
    width: 100%;
  }
}

/* ==========================================================================
Engagement Pics
========================================================================== */
#eng-pics {
  img {
    width: 100%;
    height: auto;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  .img-wrap .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .img-wrap i {
    color: #fff;
    font-size: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    right: 6px;
  }
  .img-wrap:hover img, .img-wrap:focus img {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .img-wrap:hover .overlay, .img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9;
  }
  .col-md-6, .col-md-2 {
    padding-bottom: 30px;
  }
}

/* ==========================================================================
Google map
========================================================================== */
#map {
  position: relative;
}
#map-canvas {
  height: 500px;
  width: 100%;
}
#map-content-wrapper {
  position: absolute;
  top: 175px;
  right: 0;
  left: 0;
}
#map-content {
  margin-top: 40px;
  padding: 50px 60px;
  background: #ffffff;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}
#btn-show-content {
  padding: 20px;
  background: #ffffff;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}
.toggle-map-content {
  opacity: 0;
  visibility: hidden;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}

/* ==========================================================================
RSVP form
========================================================================== */
.rsvp {
  .rsvp-form {
    .btn {
      padding: 15px 30px;
      border-radius: 3px;
      font-size: 13px;
	    color: $txt-link-dark;
      border-color: $txt-link-dark;
      background-color: transparent;
    }
    .btn:hover, .btn.active {
	    color: $txt-light;
      background-color: $txt-link-dark;
    }
    .rsvp-btn {
      padding: 15px 0;
      width: 100%;
    }
    .attending-btn {
      text-align: left;
    }
    .form-input-group {
      width: 100%;
      height: 55px;
      margin: 0 auto 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: solid 1px $txt-light-hover;
      text-align: left;
      position: relative;
      input {
        padding-left: 20px;
        width: 100%;
        height: 100%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
        background-color: $txt-light;
        color: $txt-dark;
      }
      input::-webkit-input-placeholder {
        color: $txt-dark-placeholder;
      }
      input:-moz-placeholder {
        color: $txt-dark-placeholder;
      }
      input::-moz-placeholder {
        color: $txt-dark-placeholder;
      }
      input:-ms-input-placeholder {
        color: $txt-dark-placeholder;
      }
      select {
        padding-left: 20px;
        width: 100%;
        height: 100%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
        -webkit-appearance: none;
        background-color: $txt-light;
        //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==);
        background-position : right center;
        background-repeat: no-repeat;
        color: $txt-dark-placeholder;
      }
    }
    .loading {
      color: $txt-light;
      background-color: $txt-link-dark;
    }
  }
}

/* ==========================================================================
Footer
========================================================================== */
footer {
  .content {
    border-top: 1px solid $txt-light-hover;
    padding-top: 30px;
  }
}

/* ==========================================================================
Bootstrap override
========================================================================== */
body.modal-open {
  padding-right:0 !important;
}
.modal-body {
  padding:25px;
}
