// Colours partial

$txt-light: #FFEBEE;
$txt-light-hover: #E7B2B0;

$bg-light: #FFEBEE;
$bg-medium: #E7B2B0;
$bg-dark: #04224A;

$txt-dark: #04224A;
$txt-dark-placeholder: rgba(4, 34, 73, 0.6);

$txt-link-dark:#560027;

// global accent colour
$accent-color-hover: #002a53;

// Keylines
$keyline-color: #E6E9EA;
